<div class="govuk-phase-banner" style="position: relative; top:-40px;">
	<div style="text-align: right;">
		<a href="submit-a-request" class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-3">Submit a ticket</a> 
		<a href="requests" class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-3">My tickets</a> 
		<a href="change-password" class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-3">Change password</a> 
		<a href="logged-out" class="govuk-link govuk-link--no-visited-state">Sign out</a>
	</div>
</div>
