{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
	

<div class="govuk-phase-banner" style="position: relative;">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>




<div class="govuk-grid-row govuk-!-margin-top-6">
	
	<!-- left col -->
	<div class="govuk-grid-column-two-thirds">
	
		<h1 class="govuk-heading-l govuk-!-margin-top-3">Login or register</h1>
		

		<div class="govuk-form-group">
		  <label class="govuk-label" for="full">Username</label>
		  <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
		</div>
		
		<div class="govuk-form-group">
		  <label class="govuk-label" for="full">Password</label>
		  <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
		</div> 

		
		{% from "govuk/components/button/macro.njk" import govukButton %}
			{{ govukButton({
			  text: "Login",
			  href: "ticket"
			}) 
		}}
		
		<p><a href="#">Register</a> for a new account</p>
		
					
	</div>
	<!-- END left col -->
	    
</div>




</div>
{% endblock %}