// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


//HEADER


.home-top__links {
    position: absolute;
    bottom: 0;
    right: -15px;
    width: 33.33%;
    box-sizing: border-box;
    padding: 15px 20px 25px 20px;
    background: #0b0c0c;
    
    a {
	    color: #fff;
    }
    
 }


/***** CONTACT BOTOM PAGE *****/

.das-cards {
	margin: 0 -15px;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap
}

@media (min-width: 40.0625em) {
	.das-cards {
		display: flex;
		display: -ms-flex
	}
}

.das-card {
	padding: 0 15px;
	margin-bottom: 15px;
	box-sizing: border-box
}

@media (min-width: 40.0625em) {
	.das-card {
		width: 50%
	}
}

.das-card__heading {
	margin-top: 0;
	margin-bottom: .5em
}

/***** Das custom styles *****/
.app-section {
  padding:40px 0;
}

.app-section--blue {
  background-color:#1d70b8;
}

.app-heading--section-blue {
  color:#fff !important;
}

.app-card-inner--grey {
  background-color:#f8f8f8;
  border-bottom:5px solid #1d55a3;
  height:100%;
  padding:20px;
}

@media (min-width: 40.0625em) {
  .app-card {
    margin-bottom:60px !important;
  }
}

.app-tag--grey{
  color: #0b0c0c !important;
  background-color: #e4e4e4 !important;
}

.app-text--lowercase {
  text-transform:lowercase;
}



/***** VERTICAL TABS *****/


//overides for tab styling

.js-enabled {
	  
	  .govuk-tabs__list {
        border-bottom: 0px solid black;
      }
	  
	  
	  .govuk-tabs__list-item {
		  
		  float: none;
		  text-align: left;
		  background-color: #fff;
		  border: none;
		  padding: 0;
		  
		  &:hover {
			  background-color: #dee0e2;
		  }
		  
		  a {
			  text-decoration: none;
			  color: $govuk-link-colour;
			  position: relative;
			  display: block;
			  font-size: 16px;
			    line-height: 1.25;
			    padding: 12px 30px 8px 15px;
			  
			  
			  &:after {    
				  position: absolute;
			    top: 50%;
			    margin-top: -10px;
			    right: 10px;
			    left: auto;
			    float: right;
			    content: "\203A";
				  }
			  
		  }
		  
		  &.govuk-tabs__list-item--selected {
			  background-color: $govuk-link-colour;

			  a { color: #fff; }
			  
			  .govuk-tabs__tab:visited {
				  color: #fff;
			  }
		  }
		  
		  
		  .govuk-tabs__tab:link, .govuk-tabs__tab:visited, .govuk-tabs__tab:hover, .govuk-tabs__tab:active, .govuk-tabs__tab:focus {
			  color: $govuk-link-colour;
		  }
		  
		  .govuk-tabs__tab:focus {
			  background-color: $govuk-link-colour;
		  }
		  
		  
		  		  
	  }
	  
	  
	  .govuk-tabs__panel {
		  border-bottom: none;
		  border-right: none;
		  padding-top: 0;
		  
		  h2 {
		      font-size: 27px;
		    line-height: 1.1111111111;	
		  }
	  }
}


//END overides for tab styling


.app-account-header {
	background: $govuk-link-colour;
	padding: $govuk-gutter 0;

	.govuk-heading-l {
		color: white;
		margin-bottom: 15px;
		margin-top: 20px;
	}
}

//HEADER

.govuk-header__container {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.govuk-header {
	border-bottom: 0;
}

//SEARCH

.gem-c-search {
	position: relative;
	margin-bottom: 30px;

	.gem-c-search__label {
		font-size: 19px;
		line-height: 40px;
		display: block;
		font-family: "nta", Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 16px;
		line-height: 40px;
		position: absolute;
		left: 15px;
		top: 1px;
		z-index: 1;
		color: #6f777b;
	}

	.gem-c-search__item-wrapper {
		display: table;
		width: 100%;
		background: #fff;
	}
}

.gem-c-search__input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "nta", Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 16px;
	line-height: 1.75;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 6px;
	// margin: 0.5em 0;
	width: 100%;
	height: 40px;
	border: 0;
	background: #fff;
	border-radius: 0;

	&:focus, &.focus {
		z-index: 2;
	}
	&:focus {
		outline: 3px solid #ffbf47;
		outline-offset: 0;
	}
}

input[type="search"] {
	font-family: "nta", Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 14px;
	line-height: 1.1428571429;
	border: 1px solid #bbb;
	min-width: 8em;
	// margin: 0 0.5em;
	padding: 0.25em;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.gem-c-search__item {
	position: relative;
	display: table-cell;
	vertical-align: top;
}

.gem-c-search__submit-wrapper {
	width: 1%;
}

.gem-c-search--on-govuk-blue .gem-c-search__submit {
	color: #fff;
}

.gem-c-search--on-govuk-white {
	border: solid 2px black;
	background-color: #000000;
	color: #ffffff;
}

.gem-c-search__submit {
	background-color: #000000;
	background-size: 52.5px auto;
	position: relative;
	padding: 0;
	width: 40px;
	height: 40px;
	background-image: url(https://assets.publishing.service.gov.uk/frontend/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
	background-repeat: no-repeat;
	background-position: -15px 50%;
	text-indent: -5000px;
	overflow: hidden;
	border: 0;
	cursor: pointer;
	border-radius: 0;
}



/* ==========================================================================
   #TIMELINE
   ========================================================================== */
.hmcts-timeline {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.hmcts-timeline:before {
  background-color: #1d70b8;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 10px;
  width: 5px;
}

.hmcts-timeline--full {
  margin-bottom: 0;
}

.hmcts-timeline--full:before {
  height: calc(100% - 75px);
}

.hmcts-timeline__item {
  padding-bottom: 30px;
  padding-left: 20px;
  position: relative;
}

.hmcts-timeline__item:before {
  background-color: #1d70b8;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 15px;
}

.hmcts-timeline__title {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: inline;
}

@media print {
  .hmcts-timeline__title {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-timeline__title {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .hmcts-timeline__title {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.hmcts-timeline__by {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #6f777b;
  display: inline;
  margin: 0;
}

@media print {
  .hmcts-timeline__by {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-timeline__by {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .hmcts-timeline__by {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.hmcts-timeline__date {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  margin-top: 5px;
  margin-bottom: 0;
}

@media print {
  .hmcts-timeline__date {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-timeline__date {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .hmcts-timeline__date {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.hmcts-timeline__description {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  margin-top: 20px;
}

@media print {
  .hmcts-timeline__description {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-timeline__description {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .hmcts-timeline__description {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.hmcts-timeline__documents {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.hmcts-timeline__document-item {
  margin-bottom: 5px;
}

.hmcts-timeline__document-item:last-child {
  margin-bottom: 0;
}

.hmcts-timeline__document-link {
  background-image: url(/hmcts-assets/images/icon-document.svg);
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: 0 50%;
  padding-left: 25px;
}

.hmcts-timeline__document-link:focus {
  color: #0b0c0c;
}

/* ==========================================================================
   #END TIMELINE
   ========================================================================== */
   
   .hmrc-timeline {
  border-left: 3px solid #1d70b8;
  margin: 0;
  padding: 0; }
  .hmrc-timeline-event {
    padding-bottom: 20px;
    padding-left: 20px;
    position: relative;
    list-style: none; }
    @media (min-width: 40.0625em) {
      .hmrc-timeline-event {
        padding-bottom: 30px; } }
    .hmrc-timeline-event:last-child {
      padding-bottom: 0; }
  .hmrc-timeline-event-title {
    margin-bottom: 5px; }
    @media (min-width: 40.0625em) {
      .hmrc-timeline-event-title {
        margin-bottom: 5px; } }
    .hmrc-timeline-event-title:before {
      background-color: #1d70b8;
      content: '';
      height: 3px;
      left: 0;
      top: .5em;
      position: absolute;
      width: 12px; }
  .hmrc-timeline-event-meta {
    display: block; }
    
    
    
 // START PROJECT
 // INTERNAL ARTICLES

.preview-list {
	.govuk-list > li:last-child {
		
		padding-bottom: 30px;
		
	}
}


//PAGINATION

.pagination {
  padding: 0;
}
.pagination__item {
  display: inline-block;
  list-style: none;
}
.pagination__link {
  display: block;
  padding: 5px 10px;
  &.current {
    color: #0B0C0C;
    font-weight: 700;
    border: none;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    &:hover, &:focus {
      color: #0B0C0C;
      background: none;
    }
  }
}
.pagination__item:first-child .pagination__link  {
  padding-left: 0;
}
.pagination__summary {
  padding: 8px 0;
  @media (min-width: 642px) {
    float: right;
  }
}


time {font-size: 16px;
    line-height: 1.25;
    color: #6f777b;}

