{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
	
<!-- SUBNAV -->
{% include "includes/zendesk-subnav.html" %}  
<!-- END subnav -->


{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Apprenticeship Service Support",
      href: "#"
    },
    {
      text: "Submit a ticket"
    }
  ]
}) }}


<div class="govuk-grid-row govuk-!-margin-top-6">
	
	<!-- left col -->
	<div class="govuk-grid-column-two-thirds">
	
		<h1 class="govuk-heading-l govuk-!-margin-top-3">Submit a ticket</h1>
		
		<div class="govuk-form-group">
		  <label class="govuk-label" for="full">Subject</label>
		  <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
		</div>
										
		<div class="govuk-form-group">
		  <label class="govuk-label" for="more-detail">
		    Description
		  </label>
		  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
		</div>
		
		<div class="govuk-form-group">
		  <label class="govuk-label" for="file-upload-1">
		    Upload a file (optional)
		  </label>
		  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
		</div>
		
		<div class="govuk-form-group">
			<button class="govuk-button govuk-button" data-module="govuk-button">
			  Submit
			</button>
		</div>
		
					
	</div>
	<!-- END left col -->
	    
</div>




</div>
{% endblock %}