
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



{{ govukBreadcrumbs({
  items: [
    {
      text: "Help",
      href: "link-to-search/ticket-start"
    },
    {
      text: "Check ticket status",
      href: "link-to-search/ticket-search"
    },
    {
      text: "Your ticket"
    }
  ]
}) }}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" style="margin-bottom: 10px;">
        Your ticket #00112233
      </h1>
      
      <ul class="govuk-list">
	      <li>Status: <strong class="govuk-tag govuk-!-margin-top-4 govuk-!-margin-bottom-2">Solved</strong></li>
      </ul>      
      
	<ol class="hmrc-timeline">
		
		
		<li class="hmrc-timeline-event">
			<h2 class="hmrc-timeline-event-title govuk-heading-m">Solved</h2>
			<p class="hmrc-timeline-event-meta">
			<span class="govuk-visually-hidden">Something happened on</span>
			<time class="hmrc-timeline-event-time" datetime="2019-04-18">22 April 2019</time>
			</p>	
			<p>We’ve resolved your ticket.</p>
		</li>
		
		<li class="hmrc-timeline-event">
			<h2 class="hmrc-timeline-event-title govuk-heading-m">On-hold</h2>
			<p class="hmrc-timeline-event-meta">
			<span class="govuk-visually-hidden">Something happened on</span>
			<time class="hmrc-timeline-event-time" datetime="2019-04-18">3 April 2019</time>
			</p>
			<p>We’ve escalated your ticket to our specialist support team and are waiting for a response.</p>
		</li>
		
		<li class="hmrc-timeline-event">
			<h2 class="hmrc-timeline-event-title govuk-heading-m">Pending</h2>
			<p class="hmrc-timeline-event-meta">
			<span class="govuk-visually-hidden">Something else happened on</span>
			<time class="hmrc-timeline-event-time" datetime="2019-04-22">29 March 2019</time>
			</p>
			<p>We need some extra information from you to help us resolve your ticket.</p>
		</li>
		
		<li class="hmrc-timeline-event">
			<h2 class="hmrc-timeline-event-title govuk-heading-m">Open</h2>
			<p class="hmrc-timeline-event-meta">
			<span class="govuk-visually-hidden">Something happened on</span>
			<time class="hmrc-timeline-event-time" datetime="2019-04-18">22 March 2019</time>
			</p>	
			<p>One of our advisers is working on your ticket.</p>
		</li>
		
		<li class="hmrc-timeline-event">
			<h2 class="hmrc-timeline-event-title govuk-heading-m">New</h2>
			<p class="hmrc-timeline-event-meta">
			<span class="govuk-visually-hidden">Something happened on</span>
			<time class="hmrc-timeline-event-time" datetime="2019-04-18">22 March 2019</time>
			</p>	
		</li>
		
	</ol>
            
      
    </div>
</div>



<section class="app-section">
  <div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full"> 

        <h2 class="govuk-heading-l">Contact us</h2>
        <p class="govuk-body">Our opening times are 8am to 8pm, Monday to Friday and 9am to 1pm on Saturday.</p>
        <div class="das-cards">
          <div class="das-card app-card">
            <div class="app-card-inner--grey">
              <h3 class="govuk-heading-m">Phone</h3>
              <p class="govuk-body">Call us on 08000 150 600.</p>
              <p class="govuk-body">Text us on <a href="sms:+442476101117">02476 101 117</a>.</p>
              <p class="govuk-body">Your phone company may charge you separately, standard SMS rates apply.</p>
              <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link" target="_blank">Find out about call charges</a>.</p>
            </div>
          </div>

          <div class="das-card app-card">
            <div class="app-card-inner--grey">
              <h3 class="govuk-heading-m">Email</h3>
              <p class="govuk-body">Send an email to</p>
              <p class="govuk-body"><a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk" class="govuk-link">helpdesk@manage-apprenticeships.service.gov.uk</a>.</p>
              <p class="govuk-body">During our opening times, we’ll reply within 4 hours.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    
    
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full"> 

        <div class="das-cards">
          <div class="das-card app-card">
            <div class="app-card-inner--grey">
              <h3 class="govuk-heading-m">Webchat</h3>
              <p class="govuk-body"><a href="#">Speak to an adviser now</a></p>
              <p class="govuk-body">Outside our opening times you'll be able to leave a message.</p>
            </div>
          </div>

          <div class="das-card app-card">
            <div class="app-card-inner--grey">
              <h3 class="govuk-heading-m">Send a message</h3>
	          <p class="govuk-body">You can <a class="submit-a-request govuk-link" role="button" href="/hc/en-gb/requests/new?ticket_form_id=360000235179">send a message</a>.
	          During our opening times, we’ll reply within 4 hours.</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    
    

  </div>
</section>

{% endblock %}

	

ticket details

timeline

