{% extends "layout.html" %}

{% block pageTitle %}
  Apprentice redundancy - form
{% endblock %} 
 
{% block main %}
<style>
.govuk-header__content {
    display: block;
  }
</style>
{% block content %}
<div class="govuk-width-container">
	
	

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Apprentices",
  href: "#"
}) }}
	
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds" style="margin-bottom:50px;">
	
	<h1 class="govuk-heading-xl" style="margin: 50px 0 30px 0;">Title of page</h1>
			
	
	{% from "govuk/components/input/macro.njk" import govukInput %}

	{{ govukInput({
	  label: {
	    text: "Name"
	  },
	  id: "name",
	  name: "name"
	}) }}
	
	{{ govukInput({
	  label: {
	    text: "Contact number"
	  },
	  id: "contact-number",
	  name: "contact-number",
	  hint: {
	    text: "XXX will contact you on this number to discuss new opportunities"
	  }
	}) }}
	
	{{ govukInput({
	  label: {
	    text: "Email"
	  },
	  id: "email",
	  name: "email"
	}) }}
	
	{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  idPrefix: "waste",
  name: "waste",
  fieldset: {
    legend: {
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Permission for ESFA to contact you. Lorem ipsum dollar sit"
  },
  items: [
    {
      value: "permisson",
      text: "I give consent for XX to contact me"
    }
  ]
}) }}

	
	{% from "govuk/components/button/macro.njk" import govukButton %}

	{{ govukButton({
	  text: "Submit",
	  href: "confirmation"
	}) }}
	
	
	</div>
</div>

</div>
{% endblock %}


	
{% endblock %}
