{% extends "layout.html" %}

{% block pageTitle %}
  Internal knowledge articles - show all
{% endblock %}




{% block content %}


{{ govukBreadcrumbs({
  items: [
    {
      text: "Help home",
      href: "link-to-search/ticket-start"
    }  ]
	}) 
}}

<div class="govuk-width-container">
	
	

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	    
	    
	    <!-- <div class="promoted">
	    
	    <h3 class="govuk-heading-m">Promoted 'ESFA Comms' articles</h3>
	    
	    <ul id="resultsList" class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
		  <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">Promoted article 1</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">Promoted article 2</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">Promoted article 3</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">Promoted article 4</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">Promoted article 5</a>
          </li>
	    </ul>
	    
	    </div> -->

		<div class="govuk-grid-row">
	      <div class="govuk-grid-column-full">
	        <h2 class="govuk-heading-m">All 'ESFA Comms' articles</h2>
	      </div>
	    </div>
    
      <ul id="resultsList" class="govuk-list govuk-!-margin-bottom-9">
        
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">Learning end dates</a>
          </li>
        
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009563399-Set-training-provider-permissions-training-provider-" class="govuk-link">Set training provider permissions (training provider)</a>
          </li>
        
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009563219-Types-of-apprenticeships-training-provider-" class="govuk-link">Types of apprenticeships (training provider)</a>
          </li>
        
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009494900-Data-locks-training-provider-" class="govuk-link">Data locks (training provider)</a>
          </li>
        
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009494720-Co-investment-training-provider-" class="govuk-link">Co-investment (training provider)</a>
          </li>
        
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009493880-Add-a-training-provider-training-provider-" class="govuk-link">Add a training provider (training provider)</a>
          </li>
        
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009561819-Reset-your-password-training-provider-" class="govuk-link">Reset your password (training provider)</a>
          </li>
        
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009561759-Paying-training-providers-training-provider-" class="govuk-link">Paying training providers (training provider)</a>
          </li>
        
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009493180-Managing-cohorts-and-apprentices-training-provider-" class="govuk-link">Managing cohorts and apprentices (training provider)</a>
          </li>
        
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009560799-Apprenticeship-funding-training-provider-" class="govuk-link">Apprenticeship funding (training provider)</a>
          </li>
        
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009492540-Add-an-apprentice-or-change-their-status-training-provider-" class="govuk-link">Add an apprentice or change their status (training provider)</a>
          </li>
        
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360008369280-Connect-your-organisations-training-provider-" class="govuk-link">Connect your organisations (training provider)</a>
          </li>
        
      </ul>
    
    
    </div>
  </div>
  
  

</div>

{% endblock %}

