	{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}
<style>
.govuk-header__container {
	
  }
</style>

<h1 class="govuk-heading-l">Option 1</h1>

<section class="app-section app-section--red" style="margin-top: -10px; z-index: 99;">
	<div class="govuk-width-container">
	    <div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds"> 
				<ul class="govuk-list">
					<li class="govuk-link"><a href="#"><strong>Warning message here</strong></a></li>
				</ul>
			</div>
			<div class="govuk-grid-column-one-third"> <a href="#" style="float: right">Hide message</a></div>
	    </div>
	</div>
</section>

<p>If more than one:</p>

<section class="app-section app-section--red" style="margin-top: -10px; z-index: 99;">
	<div class="govuk-width-container">
	    <div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds"> 
				<ul class="govuk-list">
					<li class="govuk-link" style="border-bottom: 1px solid #fff; padding-bottom: 25px; margin-bottom: 20px;"><a href="#"><strong>Warning message here</strong></a></li>

					<li class="govuk-link" style="border-bottom: 1px solid #fff; padding-bottom: 25px; margin-bottom: 20px;"><a href="#"><strong>Warning message here</strong></a></li>
					<li class="govuk-link"><a href="#"><strong>Warning message here</strong></a></li>
				</ul>
			</div>
			<div class="govuk-grid-column-one-third"> <a href="#" style="float: right">Hide messages</a></div>
	    </div>
	</div>
</section>




{% block content %}

<h1 class="govuk-heading-l ">Option 2</h1>

<div class="govuk-width-container">

	<div class="govuk-grid-row">
	  <div class="govuk-grid-column-full">
		  
		  
		  <div class="govuk-warning-text">
			  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			  <strong class="govuk-warning-text__text">
			    <span class="govuk-warning-text__assistive">Warning</span>
			    <a href="#">Covid-19 is causing delays in us going to the pub</a>
			  </strong>
			</div>
		  
		  	
		  	<p>If more than one:</p>
		  	<br>
		  	
			
			<div class="govuk-warning-text">
			  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			  <strong class="govuk-warning-text__text">
			    <span class="govuk-warning-text__assistive">Warning</span>
			    <a href="#">Our phone systems are experiencing problems, please bear with us while we try to resolve this issue</a>
			  </strong>
			</div>
			
			<div class="govuk-warning-text">
			  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			  <strong class="govuk-warning-text__text">
			    <span class="govuk-warning-text__assistive">Warning</span>
			    <a href="#">We are working on a known issue around lorem ipsum</a>
			  </strong>
			</div>
			
			<div class="govuk-warning-text">
			  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			  <strong class="govuk-warning-text__text">
			    <span class="govuk-warning-text__assistive">Warning</span>
			    <a href="#">Covid-19 is causing delays in us going to the pub</a>
			  </strong>
			</div>
			
			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
			
	  </div>
	</div>
	
	
	
	
	<h1 class="govuk-heading-l ">Option 3</h1>
	
	
	<div class="govuk-grid-row">
	  <div class="govuk-grid-column-full">
		  
		  
		  	
		  	<div class="notifications-box" style="border: 5px solid #f47738; padding: 1rem;">
			  	<h1 class="govuk-heading-m">Important updates</h1>
			  	<ul class="govuk-list">
				  <li><a class="govuk-link" href="#">Our phone systems are experiencing problems, please bear with us while we try to resolve this issue</a></li>
				</ul>
		  	</div>
		  	
		  	<br>
		  	<p>If more than one:</p>
		  	
		  	<div class="notifications-box" style="border: 5px solid #f47738; padding: 1rem;">
			  	<h1 class="govuk-heading-m">Important updates</h1>
			  	<ul class="govuk-list govuk-list--bullet">
				  <li><a class="govuk-link" href="#">Our phone systems are experiencing problems, please bear with us while we try to resolve this issue</a></li>
				  <li><a class="govuk-link" href="#">We are working on a known issue around </a></li>
				  <li><a class="govuk-link" href="#">Covid-19 is causing delays in us going to the pub</a></li>
				</ul>
		  	</div>
						
			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
			
	  </div>
	</div>


	<div class="govuk-grid-row">
	  <div class="govuk-grid-column-full">
	    <h2 class="govuk-heading-l">Internal articles</h2>
	  </div>
	</div>

  <div class="govuk-grid-row preview-list">
	  

	<div class="govuk-grid-column-one-third">
              <h3 class="govuk-heading-m">ESFA Comms</h3>
              <p>Section description. Topics you might find in this section Lorem ipsum dollar sit amet...</p>
              <ul class="govuk-list">
                <li class="govuk-!-margin-top-6"><a class="govuk-link govuk-!-font-weight-bold" href="../../help-centre-redesign/view-all">View all <span class="app-text--lowercase">ESFA Comms</span> articles</a></li>
            </ul>
          </div>
          
          <div class="govuk-grid-column-one-third">
              <h3 class="govuk-heading-m">Non Levy</h3>
              <p>Section description. Topics you might find in this section Lorem ipsum dollar sit amet...</p>
              <ul class="govuk-list">                
                <li class="govuk-!-margin-top-6"><a class="govuk-link govuk-!-font-weight-bold" href="../help-centre-redesign/view-all">View all <span class="app-text--lowercase">Non Levy</span> articles</a></li>
            </ul>
          </div>
          
          <div class="govuk-grid-column-one-third">
              <h3 class="govuk-heading-m">KB Articles</h3>
              <p>Section description. Topics you might find in this section Lorem ipsum dollar sit amet...</p>
              <ul class="govuk-list">
                <li class="govuk-!-margin-top-6"><a class="govuk-link govuk-!-font-weight-bold" href="../help-centre-redesign/view-all">View all <span class="app-text--lowercase">Employer</span> articles</a></li>
            </ul>
          </div>
          
          <div class="govuk-grid-column-one-third">
              <h3 class="govuk-heading-m">EPA</h3>
              <p>Section description. Topics you might find in this section Lorem ipsum dollar sit amet...</p>
              <ul class="govuk-list">
                <li class="govuk-!-margin-top-6"><a class="govuk-link govuk-!-font-weight-bold" href="../help-centre-redesign/view-all">View all <span class="app-text--lowercase">EPA</span> articles</a></li>
            </ul>
          </div>
          
          <div class="govuk-grid-column-one-third">
              <h3 class="govuk-heading-m">Internal only</h3>
              <p>Section description. Topics you might find in this section Lorem ipsum dollar sit amet...</p>
              <ul class="govuk-list">
                <li class="govuk-!-margin-top-6"><a class="govuk-link govuk-!-font-weight-bold" href="../help-centre-redesign/view-all">View all <span class="app-text--lowercase">Internal Only</span> articles</a></li>
            </ul>
          </div>
        
    
  </div>
  
  <div class="govuk-grid-column">
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Help articles</h2>
  </div>
</div>
  
<div class="govuk-grid-row">
	          
	  <div class="govuk-grid-column-one-third">
	      <h3 class="govuk-heading-m">Employer</h3>
	      <ul class="govuk-list">
	          <li class="govuk-!-margin-top-6"><a class="govuk-link" href="../help-centre-redesign/article">Apprenticeship funding</a></li>
	          <li class="govuk-!-margin-top-6"><a class="govuk-link" href="../help-centre-redesign/article">Reset your password</a></li>
	          <li class="govuk-!-margin-top-6"><a class="govuk-link" href="../help-centre-redesign/article">Entered the wrong PAYE scheme details</a></li>
	        <li class="govuk-!-margin-top-6"><a class="govuk-link govuk-!-font-weight-bold" href="../help-centre-redesign/view-all">View all <span class="app-text--lowercase">Employer</span> articles</a></li>
	    </ul>
	  </div>
	  
	    <div class="govuk-grid-column-one-third">
	      <h3 class="govuk-heading-m">Training provider</h3>
	      <ul class="govuk-list">
	          <li class="govuk-!-margin-top-6"><a class="govuk-link" href="../help-centre-redesign/article">Set training provider permissions (training provider)</a></li>
	          <li class="govuk-!-margin-top-6"><a class="govuk-link" href="../help-centre-redesign/article">Types of apprenticeships</a></li>
	          <li class="govuk-!-margin-top-6"><a class="govuk-link" href="../help-centre-redesign/article">Data locks</a></li>
	        <li class="govuk-!-margin-top-6"><a class="govuk-link govuk-!-font-weight-bold" href="../help-centre-redesign/view-all">View all <span class="app-text--lowercase">Training provider</span> articles</a></li>
	    </ul>
	  </div>
	  
	  
	  <div class="govuk-grid-column-one-third">
	      <h3 class="govuk-heading-m">End-point assessment organisation</h3>
	      <ul class="govuk-list">
		      <li class="govuk-!-margin-top-6"><a class="govuk-link" href="../help-centre-redesign/article">Record a grade API</a></li>
	          <li class="govuk-!-margin-top-6"><a class="govuk-link" href="../help-centre-redesign/article">Get an end-point assessment plan</a></li>
	          <li class="govuk-!-margin-top-6"><a class="govuk-link" href="../help-centre-redesign/article">Apply to assess a standard</a></li>
	          <li class="govuk-!-margin-top-6"><a class="govuk-link govuk-!-font-weight-bold" href="../help-centre-redesign/view-all">View all <span class="app-text--lowercase">end-point assessment</span> articles</a></li>
	    </ul>
	  </div>

    </div>
    
    
  </div> <!-- ENDS width container -->



<!-- CONTACT OPTIONS -->
{% include "includes/contact-options.html" %}  
<!-- END contact options -->


{% endblock %}


<!-- FEEDBACK FOOTER -->
{% include "includes/feedback-footer.html" %}  
<!-- END feedback footer -->

      
{% endblock %}