{% extends "layout.html" %}




{% block content %}



{{ govukBreadcrumbs({
  items: [
    {
      text: "Help",
      href: "ticket-start"
    },
    {
      text: "search ticket"
    }
  ]
}) }}


<div class="govuk-width-container ">
	<div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-9">
	      
	  <h1 class="govuk-heading-l">Track a ticket status</h1>
	      
      {% from "govuk/components/input/macro.njk" import govukInput %}

		{{ govukInput({
		  label: {
		    text: "Enter your ticket number"
		  },
		  hint: {
		    text: "For example, 502135326"
		  },
		  classes: "govuk-input--width-10",
		  id: "width-10",
		  name: "width-10"
		}) }}
		
		{% from "govuk/components/button/macro.njk" import govukButton %}
	
		{{ govukButton({
		  text: "Continue",
		  href: "./../timeline"
		}) }}
	
	
	</div>
</div>

{% endblock %}

