{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% block content %}
<div class="govuk-width-container">
	
	
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Apprenticeship Service Support",
      href: "index"
    },
    {
      text: "Employer",
      href: "view-all"
    },
    {
      text: "Title of article"
    }
  ]
}) }}
	
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
	
	<h1 class="govuk-heading-xl" style="margin: 50px 0 10px 0;">Title of article</h1>
	
	<p><strong class="govuk-tag">Employer</strong></p>
	
	<p>There is a <a href="#">similar article</a> in training providers</p>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	
	<p><strong>Sub heading</strong></p>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	
	<p><strong>Sub heading</strong></p>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	
	<p class="govuk-body-s" style="margin: 50px 0;">Last updated 6 October 2015</p>
	
	</div>
</div>

</div>
{% endblock %}


<div style="border-bottom: 10px solid #1d70b8;">
<div class="govuk-width-container" style="background-color: #1d70b8; color: #fff; padding: 10px 15px 0 15px;">
<div class="govuk-grid-row">
	
	<p style="color: #fff; margin: 0; font-weight: bold;font-size: 16px; line-height: 1.25; text-indent: 15px;">Is this page useful? <a class="govuk-link" href="#" style="color: #fff;">Yes</a> <a class="govuk-link" href="#" style="color: #fff;">No</a></p>

</div>
</div>
</div>
	
{% endblock %}
