{% extends "layout.html" %}

{% block pageTitle %}
  Internal knowledge articles - show all
{% endblock %}

{% block main %}

{% block content %}


<div class="govuk-width-container">

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Apprenticeship Service Support",
      href: "./"
    },
    {
      text: "Employer"
    } ]
}) }}
	

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
	    
	    
		<div class="govuk-grid-row">
	      <div class="govuk-grid-column-full">
	        <h2 class="govuk-heading-m">All Employer articles</h2>
	      </div>
	    </div>
    
      <ul id="resultsList" class="govuk-list govuk-!-margin-bottom-9">
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Learning end dates</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Set training provider permissions (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Types of apprenticeships (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Data locks (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Co-investment (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Add a training provider (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Reset your password (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Paying training providers (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Managing cohorts and apprentices (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Apprenticeship funding (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Add an apprentice or change their status (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Connect your organisations (training provider)</a>
          </li>
      </ul>
    
    
    </div>
  </div>
  
  

</div>

{% endblock %}


<!-- FEEDBACK FOOTER -->
{% include "includes/feedback-footer.html" %}  
<!-- END feedback footer -->
	
{% endblock %}
