{% extends "layout.html" %}

{% block pageTitle %}
  Internal knowledge articles - show all
{% endblock %}

{% block main %}

{% block content %}


<div class="govuk-width-container">

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Apprenticeship Service Support",
      href: "index"
    },
    {
      text: "Employer"
    } ]
}) }}
	

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
	    
	    
		<div class="govuk-grid-row">
	      <div class="govuk-grid-column-full">
	        <h2 class="govuk-heading-m">All Employer articles</h2>
	      </div>
	    </div>
    
      <ul id="resultsList" class="govuk-list govuk-!-margin-bottom-9">
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">Learning end dates</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009563399-Set-training-provider-permissions-training-provider-" class="govuk-link">Set training provider permissions (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009563219-Types-of-apprenticeships-training-provider-" class="govuk-link">Types of apprenticeships (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009494900-Data-locks-training-provider-" class="govuk-link">Data locks (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009494720-Co-investment-training-provider-" class="govuk-link">Co-investment (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009493880-Add-a-training-provider-training-provider-" class="govuk-link">Add a training provider (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009561819-Reset-your-password-training-provider-" class="govuk-link">Reset your password (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009561759-Paying-training-providers-training-provider-" class="govuk-link">Paying training providers (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009493180-Managing-cohorts-and-apprentices-training-provider-" class="govuk-link">Managing cohorts and apprentices (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009560799-Apprenticeship-funding-training-provider-" class="govuk-link">Apprenticeship funding (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360009492540-Add-an-apprentice-or-change-their-status-training-provider-" class="govuk-link">Add an apprentice or change their status (training provider)</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360008369280-Connect-your-organisations-training-provider-" class="govuk-link">Connect your organisations (training provider)</a>
          </li>
      </ul>
    
    
    </div>
  </div>
  
  

</div>

{% endblock %}


<div style="border-bottom: 10px solid #1d70b8;">
<div class="govuk-width-container" style="background-color: #1d70b8; color: #fff; padding: 25px 25px 25px 25px;">
<div class="govuk-grid-row">
	
	<p style="color: #fff; margin: 0; font-weight: bold;font-size: 16px; line-height: 1.25; text-indent: 15px;">Is this page useful? <a class="govuk-link" href="#" style="color: #fff;">Yes</a> <a class="govuk-link" href="#" style="color: #fff;">No</a></p>

</div>
</div>
</div>
	
{% endblock %}
