{% extends "layout.html" %}

{% block pageTitle %}
  Internal knowledge articles - show all
{% endblock %}

{% block main %}

<style>
.govuk-header__content {
    display: none;
  }
</style>


{% block content %}


<div class="govuk-width-container">
	

<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
	    
	    
	    <div class="promoted" style="background-color: #f8f8f8; padding: 20px; height: auto; margin: 30px 0 50px 0;">
	    
	    <h3 class="govuk-heading-l">Essential apprentice guidance</h3>
	    
	    <p><a href="https://www.gov.uk/government/publications/coronavirus-covid-19-apprenticeship-programme-response">Read our guidance</a> on the changes we’re making to apprenticeships. You can also find out how to:</p>
	    
	    <ul id="resultsList" class="govuk-list govuk-list--bullet">
		  <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Article title 1</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Article title 2</a>
          </li>
	    </ul>
	    
	    </div>
	    
	    <div class="govuk-grid-row">
	      <div class="govuk-grid-column-full">
	        <h2 class="govuk-heading-l">All apprentice articles for the apprenticeship service</h2>
	      </div>
	    </div>
    
      <ul id="resultsList" class="govuk-list">
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Article title 1</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Article title 2</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Article title 3</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Article title 4</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Article title 5</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Article title 6</a>
          </li>
      </ul>
    
    
    </div>
  </div>
  
  

</div>


<!-- CONTACT OPTIONS -->
  <section class="app-section">
  <div class="govuk-width-container">
	  
	  
	 <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full"> 

        <h2 class="govuk-heading-l">Contact us</h2>
        <p class="govuk-body">Our opening times are 8am to 8pm, Monday to Friday.</p>
        <div class="das-cards">
	        
	      
	      <div class="das-cards">
          <div class="das-card app-card">
            <div class="app-card-inner--grey">
              <h3 class="govuk-heading-m">Webchat</h3>
              <p class="govuk-body"><a href="#">Speak to an adviser now</a></p>
              <p class="govuk-body">Outside our opening times you'll be able to leave a message.</p>
            </div>
          </div>
          
          
          <div class="das-card app-card">
            <div class="app-card-inner--grey">
              <h3 class="govuk-heading-m">Send a message</h3>
	          <p class="govuk-body">You can <a class="submit-a-request govuk-link" role="button" href="/hc/en-gb/requests/new?ticket_form_id=360000235179">send a message</a>.
	          During our opening times, we’ll reply within 4 hours.</p>
            </div>
          </div>
	        

        </div>
      </div>
    </div>
    
    
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full"> 

        <div class="das-cards">
          <div class="das-card app-card">
            <div class="app-card-inner--grey">
              <h3 class="govuk-heading-m">Email</h3>
              <p class="govuk-body">Send an email to</p>
              <p class="govuk-body"><a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk" class="govuk-link">helpdesk@manage-apprenticeships.service.gov.uk</a>.</p>
              <p class="govuk-body">During our opening times, we’ll reply within 4 hours.</p>
            </div>
          </div>

          <div class="das-card app-card">
            <div class="app-card-inner--grey">
              <h3 class="govuk-heading-m">Phone</h3>
              <p class="govuk-body">Call us on 08000 150 600.</p>
              <p class="govuk-body">Text us on <a href="sms:+442476101117">02476 101 117</a>.</p>
              <p class="govuk-body">Your phone company may charge you separately, standard SMS rates apply.</p>
              <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link" target="_blank">Find out about call charges</a>.</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    
    

  </div>
</section>


<!-- END contact options -->

{% endblock %}


	
{% endblock %}
