{% extends "layout.html" %}

{% block pageTitle %}
  Internal knowledge articles - show all
{% endblock %}

{% block main %}

{% block content %}


<div class="govuk-width-container">

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Apprenticeship Service Support",
      href: "./"
    },
    {
      text: "Coronavirus"
    } ]
}) }}
	

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
	    
	    
		<div class="govuk-grid-row">
	      <div class="govuk-grid-column-full">
	        <h2 class="govuk-heading-m">All Coronavirus articles</h2>
	      </div>
	    </div>
	    
	    
	    
	    <div class="promoted" style="background-color: #f8f8f8; padding: 20px; height: auto;">
	    
	    <h3 class="govuk-heading-m">Promoted Coronavirus articles</h3>
	    
	    <ul id="resultsList" class="govuk-list govuk-list--bullet">
		  <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">Promoted Coronavirus article 1</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">Promoted Coronavirus article 2</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">Promoted Coronavirus article 3</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">Promoted Coronavirus article 4</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">Promoted Coronavirus article 5</a>
          </li>
	    </ul>
	    
	    </div>

    
      <ul id="resultsList" class="govuk-list govuk-!-margin-bottom-9">
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Coronavirus article</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Coronavirus article</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Coronavirus article</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Coronavirus article</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Coronavirus article</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Coronavirus article</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Coronavirus article</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Coronavirus article</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Coronavirus article</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Coronavirus article</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Coronavirus article</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Coronavirus article</a>
          </li>
      </ul>
    
    
    </div>
  </div>
  
  

</div>

{% endblock %}


<!-- FEEDBACK FOOTER -->
{% include "includes/feedback-footer.html" %}  
<!-- END feedback footer -->
	
{% endblock %}
