{% extends "layout.html" %}

{% block pageTitle %}
  Internal knowledge articles - show all
{% endblock %}

{% block main %}

<section class="app-section" style="margin-top: -10px; padding-top: 10px; padding-bottom: 0;">
	<div class="govuk-width-container">

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
	</div>

	<div class="govuk-width-container">
			<div class="govuk-grid-column-three-thirds"> 
				<p class="govuk-body-l govuk-!-font-weight-bold" style="border: 5px solid #1d70b8; padding: 20px; margin-top: 20px !important; margin-bottom: 20px;">
          <strong>Coronavirus (COVID-19)</strong>: <a href="view-all" class="govuk-link" style="color: #1d70b8;">check how the apprenticeship service will support you</a>.
        </p>
			</div>
	</div>
</section>

{% block content %}


<div class="govuk-width-container">

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Help home",
  href: "banner-live"
}) }}
	

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
	    
	    
	    <div class="promoted" style="background-color: #f8f8f8; padding: 20px; height: auto; margin-bottom: 50px;">
	    
	    <h3 class="govuk-heading-l">Essential coronavirus guidance</h3>
	    
	    <p><a href="https://www.gov.uk/government/publications/coronavirus-covid-19-apprenticeship-programme-response">Read our guidance</a> on the changes we’re making to apprenticeships. You can also find out how to:</p>
	    
	    <ul id="resultsList" class="govuk-list govuk-list--bullet">
		  <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">pause and stop apprenticeships</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">record coronavirus changes in the ILR</a>
          </li>
	    </ul>
	    
	    </div>
	    
	    <div class="govuk-grid-row">
	      <div class="govuk-grid-column-full">
	        <h2 class="govuk-heading-l">All coronavirus articles for the apprenticeship service</h2>
	      </div>
	    </div>
    
      <ul id="resultsList" class="govuk-list govuk-!-margin-bottom-9">
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Coronavirus (COVID-19): how the apprenticeship service will support you</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Record coronavirus changes in the ILR</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Changes to apprenticeship assessments</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="#" class="govuk-link">Get your apprenticeship certificate</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="#" class="govuk-link">Find out how employers can pause apprenticeships</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="#" class="govuk-link">Apprentices that have been made redundant</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="#" class="govuk-link">Expired funds after a break in learning</a>
          </li>
      </ul>
    
    
    </div>
  </div>
  
  

</div>

{% endblock %}


<!-- FEEDBACK FOOTER -->
{% include "includes/feedback-footer.html" %}  
<!-- END feedback footer -->
	
{% endblock %}
