{% extends "layout.html" %}

{% block pageTitle %}
  Internal knowledge articles - show all
{% endblock %}

{% block main %}

{% block content %}


<div class="govuk-width-container">

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Apprenticeship Service Support",
      href: "./"
    },
    {
      text: "Coronavirus"
    } ]
}) }}
	

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
	    
	    
	    <div class="promoted" style="background-color: #f8f8f8; padding: 20px; height: auto; margin-bottom: 50px;">
	    
	    <h3 class="govuk-heading-m">Promoted Coronavirus articles</h3>
	    
	    <p><a href="https://www.gov.uk/government/publications/coronavirus-covid-19-apprenticeship-programme-response">Read our guidance</a> on the changes we're making to apprenticeship</p>
	    
	    <ul id="resultsList" class="govuk-list govuk-list--bullet">
		  <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">Important article 1</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">Important article 2</a>
          </li>
	    </ul>
	    
	    </div>
	    
	    
	    <div class="govuk-grid-row">
	      <div class="govuk-grid-column-full">
	        <h2 class="govuk-heading-m">All Coronavirus articles</h2>
	      </div>
	    </div>

    
      <ul id="resultsList" class="govuk-list govuk-!-margin-bottom-9">
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Coronavirus article 1</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Coronavirus article 2</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="article" class="govuk-link">Coronavirus article 3</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">Find out how you can pause them for your own apprentices</a>
          </li>
          <li class="govuk-!-margin-top-3">
            <a href="/hc/en-gb/articles/360011235539-Learning-end-dates" class="govuk-link">Find out how employers can pause apprenticeships</a>
          </li>
      </ul>
    
    
    </div>
  </div>
  
  

</div>

{% endblock %}


<!-- FEEDBACK FOOTER -->
{% include "includes/feedback-footer.html" %}  
<!-- END feedback footer -->
	
{% endblock %}
