
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Explore ways to categorise internal knowledge
      </h1>
      
      <p>The prototypes are based on splitting the internal and external knowledge into 2 rows.</p>
      <p><strong>External</strong> users will never see the row for internal knowledge. <strong>Internal</strong> users will be more interested in internal knowledge therefore this content will appear first.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="vertical-tabs">Prototype 1 - Vertical tabs</a></li>
        <li><a href="accordion">Prototype 2 - Accordion</a></li>
      </ul>
    </div>
</div>

{% endblock %}
