
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Explore ways to categorise internal knowledge
      </h1>
      
      <p>The prototypes are based on splitting the internal and external knowledge into 2 rows.</p>
      <p><strong>External</strong> users will never see the row for internal knowledge. <strong>Internal</strong> users will be more interested in internal knowledge therefore this content will appear first.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="vertical-tabs" style="text-decoration: line-through;">Prototype - Vertical tabs</a></li>
        <li><a href="accordion" style="text-decoration: line-through;">Prototype - Accordion</a></li>
        <li><a href="accordion-with-summary" style="text-decoration: line-through;">Prototype - Accordion - with summary</a></li>
      </ul>
      
      <p>After technical incapability we now have the following options:</p>
      
      <ul class="govuk-list govuk-list--bullet">
		  <li><a href="internal-articles/existing/preview-list">Prototype - Zendesk out of the box</a></li>
		    <li><a href="internal-articles/category/preview">Prototype - Zendesk customised</a></li>
		    <li><a href="internal-articles/category/preview-externalview">Prototype - Zendesk customised (external view)</a></li>
		    <li><a href="internal-articles/category/hybrid">Prototype - Hybrid</a></li>
      </ul>
      
      <h1 class="govuk-heading-l" style="text-decoration: line-through;">
        External view of Ticket Resolution
      </h1>
      
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="ticket/link-to-search/ticket-start">Prototype 1 - Link to search</a></li>
        <li><a href="ticket/multi-search/ticket-search">Prototype 2 - Search</a></li>
      </ul>
      
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="ticket/email/">Journey from email</a></li>
        <ul>
	        <li><a href="ticket/email/status-new">Ticket status - New</a></li>
	        <li><a href="ticket/email/status-open">Ticket status - Open</a></li>
	        <li><a href="ticket/email/status-pending">Ticket status - Pending</a></li>
	        <li><a href="ticket/email/status-onhold">Ticket status - On-hold</a></li>
	        <li><a href="ticket/email/status-solved">Ticket status - Solved</a></li>
        </ul>
      </ul>
      
      
      <h1 class="govuk-heading-l">
        External view of Ticket Resolution V2
      </h1>
      
      <p>A new set of requirements means a different approach to the original solution. The decision was made to use the Zendesk out of the box solution that ESFA will re-skin.</p>
      
      
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="ticketV2/start-ticket-email">Start journey from email</a></li>
        <li><a href="ticketV2/start-ticket-homepage">Start journey from homepage</a></li>
      </ul>
      
      <!--
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="ticketV2/submit-a-request">Submit a request</a></li>
        <li><a href="ticketV2/requests">Requests</a></li>
        <li><a href="ticketV2/ticket">Ticket</a></li>
      </ul>
      -->
      
      <h1 class="govuk-heading-l">Contact channels on homepage</h1>
      
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="smsmessage/index">SMS message on homepage</a></li>
      </ul>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="smsmessage/chat">Surfacing Live Chat homepage A (Current)</a></li>
        <li><a href="smsmessage/gds">Surfacing Live Chat homepage B (GDS recommended)</a></li>
        <li><a href="smsmessage/accordian">Surfacing Live Chat homepage C (Accordion)</a></li>
      </ul>


      <h1 class="govuk-heading-l">
        Help Centre Re-design
      </h1>
            
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="help-centre-redesign">Homepage</a></li>
        <li><a href="help-centre-redesign/article">Article page</a></li>
      </ul>
      
      
      
    </div>
</div>

{% endblock %}
